// Container da palavra secreta
#DivPalavraSecreta {
  width: 100%;
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-bottom: 20px;
  // Divs que serão geradas individualmente para cada respectiva letra da charada
  div {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border: 1px solid black;
    border-radius: 15px;
    // Letras da palavra gerada
    h1 {
      font-size: 40px;
      color: white;
    }
  }
  // Classe dada aos "ESPAÇOS" nas palavras compostas
  .invisible {
    width: 20px;
    opacity: 0;
  }
}
// classe adicionada ao container da palavra secreta quando acertar.
.sucesso {
  // quando a classe for adicionada, todas as divs das letras ficaram verdes pra representar sucesso
  > div {
    background-color: green !important;
  }
}
